<a href="https://colab.research.google.com/github/imabari/rakuten_tools/blob/main/rakuten_towercollector_near.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 実行方法

1. 上の「Open in Colab」をクリック（Googleアカウント必要）
2. 上部メニューより「ランタイム」を選択
3. 「すべてのセルを実行」を選択
4. アップロードのところで停止するので参照を押してTowerCollectorのファイルを指定

# アップロード

In [ ]:
from google.colab import files

uploaded = files.upload()

for fn in uploaded.keys():
    print('User uploaded file "{name}" with length {length} bytes'.format(
        name=fn, length=len(uploaded[fn])))

In [ ]:
!pip install geopandas

# プログラム

In [3]:
import pandas as pd

In [ ]:
df0 = (
    pd.read_csv(fn, parse_dates=["measured_at"])
    .dropna(how="all", axis=1)
    .dropna(how="any", subset=["cell_id", "psc", "ta"])
    .astype({"cell_id": int, "short_cell_id": int, "rnc": int, "ta": int})
)
df0

In [5]:
# 型確認
df0.dtypes

mcc                            int64
mnc                            int64
lac                            int64
cell_id                        int64
short_cell_id                  int64
rnc                            int64
psc                            int64
asu                            int64
dbm                            int64
ta                             int64
lat                          float64
lon                          float64
accuracy                     float64
speed                        float64
bearing                      float64
altitude                     float64
measured_at      datetime64[ns, UTC]
net_type                      object
neighboring                     bool
device                        object
rsrp                           int64
rsrq                           int64
rssi                           int64
rssnr                        float64
arfcn                          int64
dtype: object

In [ ]:
# バンド指定
df1 = df0.query("mcc == 440 & mnc == 11").copy()
df1

In [8]:
df1["id"] = df1["short_cell_id"].astype(str) + "-" + df1["rnc"].astype(str)

# PCI確認

In [9]:
df_pci = (
    df1.drop_duplicates(subset=["cell_id"])
    .pivot(index="short_cell_id", columns="rnc", values="psc")
    .astype("Int64")
)
df_pci.fillna(0).astype(str).replace("0", "-")

rnc             1    2    3    4    5    6    7    8    9    10   11   12
short_cell_id
737354         298   89  174  225    -  205    -    -    -  116  229  348
737359          82    -  263    -    -    -    -    -    -    -    -    -
737363           -    -    -    -    -    -    -    -    -  345    -    -
737366           -    -    -  185  183    -   51  133  137    -    -    -
737378         194    -  130    -  147  169    -  317  213    -    -   96
737403           -    -    -    -    -    -    -    -  242    -    -    -
737422           -    -    -  247   38  270    -    -    -    -    -    -
737429           -    -    -  125    -    -    -    -    -    -    -    -
737486           -    -    -    -    -    -  263  261  262   75  175   77
737487           -    -  179  178  177   32  374   93  355  223  222    -
737488         214  213  185  313  324  326  351    1  108  109  360    -
737496         117    -    -    -    -    -    -    -    -    -    -    -
737566           -    -    -    -   49    -    -    -    -    -    -    -

In [10]:
df_pci.to_csv("pci.csv", encoding="utf_8_sig")

# 最良値を抽出

In [11]:
df2 = df1.groupby(["cell_id"])["dbm"].max().reset_index()
df2

      cell_id  dbm
0   188762625  -51
1   188762626  -51
2   188762627  -51
3   188762628  -51
4   188762630  -51
5   188762634  -51
6   188762635  -51
7   188762636  -51
8   188763905  -57
9   188763907  -53
10  188764938  -59
11  188765700  -51
12  188765701  -51
13  188765703  -51
14  188765704  -51
15  188765705  -51
16  188768769  -51
17  188768771  -53
18  188768773  -51
19  188768774  -51
20  188768776  -59
21  188768777  -55
22  188768780  -75
23  188775177  -87
24  188780036  -51
25  188780037  -51
26  188780038  -51
27  188781828  -67
28  188796423  -51
29  188796424  -51
30  188796425  -51
31  188796426  -51
32  188796427  -51
33  188796428  -51
34  188796675  -51
35  188796676  -51
36  188796677  -51
37  188796678  -51
38  188796679  -51
39  188796680  -51
40  188796681  -51
41  188796682  -51
42  188796683  -51
43  188796929  -51
44  188796930  -51
45  188796931  -51
46  188796932  -51
47  188796933  -51
48  188796934  -51
49  188796935  -51
50  188796936  -51
51  188796937  -51
52  188796938  -51
53  188796939  -51
54  188798977  -67
55  188816901  -69

In [ ]:
df3 = pd.merge(df1, df2)
df3

In [13]:
import geopandas as gpd
from shapely.geometry import Point

In [14]:
# 全部
# geo_df = gpd.GeoDataFrame(df1, geometry=gpd.points_from_xy(df1.lon, df1.lat), crs=2446)

In [15]:
# 最良値のみ
geo_df = gpd.GeoDataFrame(df3, geometry=gpd.points_from_xy(df3.lon, df3.lat), crs=2446)

In [ ]:
geo_df

In [17]:
# スプレッドシートのURL
csv_url = "https://raku10ehime.github.io/map/ehime.csv"

In [18]:
df_ehime = pd.read_csv(csv_url, index_col=0)
df_ehime

,場所,市区町村,場所補足,設置タイプ,状況,sector,sub6,ミリ波,eNB-LCID,PCI,基地局ID,緯度,経度,更新日時,color,icon
0,【5G】今治市立花町二丁目,今治市,NaN,コン柱,open,3.0,3.0,3.0,"737335-1,2,3","39,347,139",NaN,34.052319,132.999271,2022/06/01 0:00:00,darkblue,plane
1,【5G】今治市中寺①,今治市,今治中寺郵便局付近,コン柱,open,3.0,3.0,3.0,"737331-1,2,3","292,98,300",NaN,34.037485,132.991341,2022/06/01 0:00:00,darkblue,plane
2,今治市桜井四丁目,今治市,志島ヶ原・綱敷天満神社付近,コン柱,open,3.0,NaN,NaN,"737512-10,11,12","47,378,94",NaN,34.017394,133.041464,2023/04/23 16:44:15,green,signal
3,今治市登畑,今治市,レデイ薬局今治国分店付近,コン柱,open,3.0,NaN,NaN,"737510-4,5,6","136,278,135",NaN,34.019522,133.016295,2023/04/23 18:22:03,green,signal
4,【5G】今治市阿方①,今治市,ファミリーマート今治阿方店付近,コン柱,open,3.0,1.0,2.0,"737354-4,5,6","225,227,226",NaN,34.061198,132.970841,2022/11/13 2:31:56,darkblue,plane
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
696,西予市明浜町狩浜,西予市,NaN,コン柱,open,3.0,NaN,NaN,"737523-4,5,6","117,373,374",NaN,33.318979,132.467736,2023/04/22 16:49:28,green,signal
697,西予市明浜町高山,西予市,NaN,コン柱,open,3.0,NaN,NaN,"737523-7,8,9","38,181,36",CBSB838000416,33.321618,132.433275,2023/04/22 16:59:01,green,signal
698,西予市三瓶町垣生,西予市,NaN,コン柱,open,1.0,NaN,NaN,737575-5,10,NaN,33.386473,132.409811,2023/04/22 17:28:16,green,signal
699,今治市小浦町,今治市,サンライズ糸山,コン柱,open,3.0,NaN,NaN,"737378-10,11,12","14,145,96",NaN,34.109348,132.978349,2023/04/23 16:08:12,green,signal
700,東温市上林②,東温市,NaN,コン柱,open,3.0,NaN,NaN,"737372-7,8,9","5,87,187",NaN,33.758991,132.882877,2023/04/23 21:53:23,green,signal

In [19]:
dfs = []

for i, r in df_ehime.iterrows():
    
    point = Point(r["経度"], r["緯度"])

    # 300mの範囲
    buffer = point.buffer(0.003)

    df_tmp = geo_df[geo_df.geometry.within(buffer)].copy()

    if len(df_tmp) > 0:

        df_tmp["grp"] = i

        df_tmp["場所"] = r["場所"]

        df_tmp["距離"] = df_tmp.geometry.apply(lambda x: round(x.distance(point) * 10000, 3))

        dfs.append(df_tmp)

In [20]:
df4 = pd.concat(dfs).sort_values(by=["cell_id", "距離"]).reset_index(drop=True)
df4

,mcc,mnc,lac,cell_id,short_cell_id,rnc,psc,asu,dbm,ta,...,rsrp,rsrq,rssi,rssnr,arfcn,id,geometry,grp,場所,距離
0,440,11,39937,188762625,737354,1,298,31,-51,0,...,-65,-8,-51,11.0,1500,737354-1,POINT (132.966 34.063),5,【5G】今治市阿方②,4.892
1,440,11,39937,188762625,737354,1,298,31,-51,0,...,-73,-10,-51,11.0,1500,737354-1,POINT (132.967 34.062),5,【5G】今治市阿方②,13.359
2,440,11,39937,188762625,737354,1,298,31,-51,0,...,-73,-10,-51,11.0,1500,737354-1,POINT (132.967 34.062),5,【5G】今治市阿方②,18.788
3,440,11,39937,188762626,737354,2,89,31,-51,0,...,-61,-11,-51,12.0,1500,737354-2,POINT (132.965 34.062),5,【5G】今治市阿方②,2.874
4,440,11,39937,188762627,737354,3,174,31,-51,0,...,-46,-8,-51,11.0,1500,737354-3,POINT (132.965 34.063),5,【5G】今治市阿方②,3.560
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
250,440,11,39937,188796938,737488,10,109,31,-51,0,...,-76,-10,-51,11.0,1500,737488-10,POINT (132.953 34.119),51,今治市波方町波方,6.798
251,440,11,39937,188796938,737488,10,109,31,-51,1,...,-62,-9,-51,15.0,1500,737488-10,POINT (132.953 34.117),51,今治市波方町波方,19.106
252,440,11,39937,188796938,737488,10,109,31,-51,1,...,-62,-9,-51,15.0,1500,737488-10,POINT (132.953 34.117),51,今治市波方町波方,22.257
253,440,11,39937,188796938,737488,10,109,31,-51,1,...,-62,-9,-51,15.0,1500,737488-10,POINT (132.953 34.116),51,今治市波方町波方,26.688
254,440,11,39937,188796939,737488,11,360,31,-51,0,...,-66,-10,-51,13.0,1500,737488-11,POINT (132.952 34.119),51,今治市波方町波方,7.044

In [21]:
# 重複除去
df5 = df4.drop_duplicates(subset="cell_id").copy()

In [22]:
# 2つ以上を抽出、重複除去
# df5 = df4.groupby(by="cell_id").filter(lambda x: len(x) > 1).drop_duplicates(subset="cell_id").copy()

In [23]:
df5

,mcc,mnc,lac,cell_id,short_cell_id,rnc,psc,asu,dbm,ta,...,rsrp,rsrq,rssi,rssnr,arfcn,id,geometry,grp,場所,距離
0,440,11,39937,188762625,737354,1,298,31,-51,0,...,-65,-8,-51,11.0,1500,737354-1,POINT (132.966 34.063),5,【5G】今治市阿方②,4.892
3,440,11,39937,188762626,737354,2,89,31,-51,0,...,-61,-11,-51,12.0,1500,737354-2,POINT (132.965 34.062),5,【5G】今治市阿方②,2.874
4,440,11,39937,188762627,737354,3,174,31,-51,0,...,-46,-8,-51,11.0,1500,737354-3,POINT (132.965 34.063),5,【5G】今治市阿方②,3.560
11,440,11,39937,188762628,737354,4,225,31,-51,0,...,-50,-9,-51,21.0,1500,737354-4,POINT (132.971 34.061),4,【5G】今治市阿方①,1.252
27,440,11,39937,188762630,737354,6,205,31,-51,0,...,-54,-7,-51,17.0,1500,737354-6,POINT (132.971 34.061),4,【5G】今治市阿方①,1.105
35,440,11,39937,188762634,737354,10,116,31,-51,0,...,-58,-8,-51,22.0,1500,737354-10,POINT (132.956 34.066),16,【5G】今治市延喜①,6.338
42,440,11,39937,188762635,737354,11,229,31,-51,0,...,-56,-8,-51,18.0,1500,737354-11,POINT (132.955 34.065),16,【5G】今治市延喜①,0.489
48,440,11,39937,188762636,737354,12,348,31,-51,0,...,-60,-10,-51,22.0,1500,737354-12,POINT (132.955 34.066),16,【5G】今治市延喜①,0.678
51,440,11,39937,188763905,737359,1,82,28,-57,0,...,-88,-11,-57,8.0,1500,737359-1,POINT (132.988 34.064),22,【5G】今治市北日吉町一丁目,12.432
55,440,11,39937,188765700,737366,4,185,31,-51,0,...,-53,-10,-51,20.0,1500,737366-4,POINT (132.959 34.071),33,今治市延喜②,1.587
59,440,11,39937,188765701,737366,5,183,31,-51,0,...,-52,-7,-51,19.0,1500,737366-5,POINT (132.959 34.071),33,今治市延喜②,1.305
69,440,11,39937,188765703,737366,7,51,31,-51,0,...,-66,-11,-51,13.0,1500,737366-7,POINT (132.975 34.072),645,今治市しまなみの杜,3.068
70,440,11,39937,188765704,737366,8,133,31,-51,0,...,-57,-8,-51,20.0,1500,737366-8,POINT (132.974 34.072),645,今治市しまなみの杜,1.519
73,440,11,39937,188765705,737366,9,137,31,-51,0,...,-61,-8,-51,12.0,1500,737366-9,POINT (132.974 34.072),645,今治市しまなみの杜,1.018
79,440,11,39937,188768773,737378,5,147,31,-51,0,...,-59,-9,-51,17.0,1500,737378-5,POINT (132.982 34.091),14,今治市近見町三丁目,1.881
85,440,11,39937,188768774,737378,6,169,31,-51,0,...,-52,-7,-51,26.0,1500,737378-6,POINT (132.982 34.091),14,今治市近見町三丁目,1.881
90,440,11,39937,188780036,737422,4,247,31,-51,0,...,-67,-9,-51,24.0,1500,737422-4,POINT (132.931 34.105),41,今治市波方町小部,2.729
91,440,11,39937,188780037,737422,5,38,31,-51,0,...,-64,-8,-51,16.0,1500,737422-5,POINT (132.931 34.104),41,今治市波方町小部,1.313
94,440,11,39937,188780038,737422,6,270,31,-51,0,...,-57,-12,-51,NaN,1500,737422-6,POINT (132.931 34.104),41,今治市波方町小部,2.301
102,440,11,39937,188796423,737486,7,263,31,-51,0,...,-69,-8,-51,22.0,1500,737486-7,POINT (132.944 34.094),40,今治市波方町樋口②,3.159
107,440,11,39937,188796424,737486,8,261,31,-51,0,...,-52,-8,-51,30.0,1500,737486-8,POINT (132.944 34.094),40,今治市波方町樋口②,3.159
112,440,11,39937,188796425,737486,9,262,31,-51,1,...,-58,-8,-51,27.0,1500,737486-9,POINT (132.943 34.094),40,今治市波方町樋口②,4.896
122,440,11,39937,188796426,737486,10,75,31,-51,0,...,-57,-9,-51,12.0,1500,737486-10,POINT (132.968 34.103),50,今治市内堀一丁目,3.708
125,440,11,39937,188796427,737486,11,175,31,-51,0,...,-62,-9,-51,24.0,1500,737486-11,POINT (132.968 34.103),50,今治市内堀一丁目,3.708
129,440,11,39937,188796428,737486,12,77,31,-51,0,...,-59,-9,-51,19.0,1500,737486-12,POINT (132.967 34.103),50,今治市内堀一丁目,2.786
137,440,11,39937,188796675,737487,3,179,31,-51,0,...,-57,-9,-51,21.0,1500,737487-3,POINT (132.971 34.099),6,今治市波止浜,2.933
144,440,11,39937,188796676,737487,4,178,31,-51,0,...,-58,-12,-51,13.0,1500,737487-4,POINT (132.972 34.098),6,今治市波止浜,3.226
149,440,11,39937,188796677,737487,5,177,31,-51,0,...,-55,-8,-51,13.0,1500,737487-5,POINT (132.971 34.099),6,今治市波止浜,2.696
153,440,11,39937,188796678,737487,6,32,31,-51,0,...,-50,-7,-51,9.0,1500,737487-6,POINT (132.969 34.108),77,今治市波止浜三丁目,6.586
158,440,11,39937,188796679,737487,7,374,31,-51,1,...,-55,-8,-51,7.0,1500,737487-7,POINT (132.969 34.108),77,今治市波止浜三丁目,2.194
161,440,11,39937,188796680,737487,8,93,31,-51,0,...,-66,-8,-51,18.0,1500,737487-8,POINT (132.968 34.108),77,今治市波止浜三丁目,5.441
167,440,11,39937,188796681,737487,9,355,31,-51,0,...,-51,-7,-51,11.0,1500,737487-9,POINT (132.960 34.110),49,今治市波方町郷,6.473
168,440,11,39937,188796682,737487,10,223,31,-51,0,...,-61,-8,-51,22.0,1500,737487-10,POINT (132.959 34.109),49,今治市波方町郷,3.699
173,440,11,39937,188796683,737487,11,222,31,-51,0,...,-63,-9,-51,20.0,1500,737487-11,POINT (132.959 34.110),49,今治市波方町郷,4.393
182,440,11,39937,188796929,737488,1,214,31,-51,0,...,-59,-11,-51,19.0,1500,737488-1,POINT (132.946 34.107),76,今治市波方町養老,3.166
184,440,11,39937,188796930,737488,2,213,31,-51,1,...,-70,-12,-51,NaN,1500,737488-2,POINT (132.945 34.106),76,今治市波方町養老,15.530
187,440,11,39937,188796931,737488,3,185,31,-51,0,...,-60,-8,-51,21.0,1500,737488-3,POINT (132.946 34.107),76,今治市波方町養老,1.457
194,440,11,39937,188796932,737488,4,313,31,-51,0,...,-47,-8,-51,26.0,1500,737488-4,POINT (132.953 34.099),34,今治市波方町樋口①,2.706
200,440,11,39937,188796933,737488,5,324,31,-51,0,...,-55,-9,-51,14.0,1500,737488-5,POINT (132.953 34.099),34,今治市波方町樋口①,1.272
210,440,11,39937,188796934,737488,6,326,31,-51,0,...,-59,-9,-51,17.0,1500,737488-6,POINT (132.953 34.099),34,今治市波方町樋口①,1.643
221,440,11,39937,188796935,737488,7,351,31,-51,0,...,-70,-11,-51,17.0,1500,737488-7,POINT (132.938 34.131),45,今治市波方町西浦,2.274
227,440,11,39937,188796936,737488,8,1,31,-51,0,...,-57,-9,-51,29.0,1500,737488-8,POINT (132.938 34.131),45,今治市波方町西浦,2.507
233,440,11,39937,188796937,737488,9,108,31,-51,0,...,-70,-12,-51,12.0,1500,737488-9,POINT (132.953 34.119),51,今治市波方町波方,3.066
246,440,11,39937,188796938,737488,10,109,31,-51,0,...,-70,-11,-51,12.0,1500,737488-10,POINT (132.953 34.119),51,今治市波方町波方,2.321
254,440,11,39937,188796939,737488,11,360,31,-51,0,...,-66,-10,-51,13.0,1500,737488-11,POINT (132.952 34.119),51,今治市波方町波方,7.044

In [24]:
df6 = df5.groupby(["grp", "場所", "short_cell_id"])[["rnc", "psc"]].agg(lambda x: list(x)).reset_index()

In [25]:
df6["count"] = df6["rnc"].apply(len)

In [26]:
df6["rnc"] = df6["rnc"].apply(lambda x: ",".join(map(str, x)))
df6["psc"] = df6["psc"].apply(lambda x: ",".join(map(str, x)))

In [27]:
df6["eNB-LCID"] = df6["short_cell_id"].astype(str).str.cat(df6["rnc"], sep="-")

In [35]:
df7 = df6.reindex(columns=["場所", "eNB-LCID", "psc"])
df7

                場所         eNB-LCID          psc
0       【5G】今治市阿方①       737354-4,6      225,205
1       【5G】今治市阿方②     737354-1,2,3   298,89,174
2           今治市波止浜     737487-3,4,5  179,178,177
3        今治市近見町三丁目       737378-5,6      147,169
4       【5G】今治市延喜①  737354-10,11,12  116,229,348
5   【5G】今治市北日吉町一丁目         737359-1           82
6           今治市延喜②       737366-4,5      185,183
7        今治市波方町樋口①     737488-4,5,6  313,324,326
8        今治市波方町樋口②     737486-7,8,9  263,261,262
9         今治市波方町小部     737422-4,5,6   247,38,270
10        今治市波方町西浦       737488-7,8        351,1
11         今治市波方町郷   737487-9,10,11  355,223,222
12        今治市内堀一丁目  737486-10,11,12    75,175,77
13        今治市波方町波方   737488-9,10,11  108,109,360
14        今治市波方町養老     737488-1,2,3  214,213,185
15       今治市波止浜三丁目     737487-6,7,8    32,374,93
16       今治市しまなみの杜     737366-7,8,9   51,133,137

In [36]:
df7.to_csv("enb-lcid.csv", encoding="utf_8_sig")

In [38]:
df8 = df6.join(df_ehime, on="grp", lsuffix="_NEW")

In [40]:
df8[df8["eNB-LCID"] != df8["eNB-LCID_NEW"]]

,grp,場所_NEW,short_cell_id,rnc,psc,count,eNB-LCID_NEW,場所,市区町村,場所補足,...,sub6,ミリ波,eNB-LCID,PCI,基地局ID,緯度,経度,更新日時,color,icon
0,4,【5G】今治市阿方①,737354,"4,6","225,205",2,"737354-4,6",【5G】今治市阿方①,今治市,ファミリーマート今治阿方店付近,...,1.0,2.0,"737354-4,5,6","225,227,226",NaN,34.061198,132.970841,2022/11/13 2:31:56,darkblue,plane
3,14,今治市近見町三丁目,737378,"5,6","147,169",2,"737378-5,6",今治市近見町三丁目,今治市,NaN,...,NaN,NaN,"737378-4,5,6","38,37,36",NaN,34.090902,132.981823,2022/06/01 0:00:00,green,signal
5,22,【5G】今治市北日吉町一丁目,737359,1,82,1,737359-1,【5G】今治市北日吉町一丁目,今治市,NaN,...,1.0,3.0,"737359-1,2,3","82,321,83",NaN,34.062963,132.989182,2023/04/23 21:21:13,darkblue,plane
6,33,今治市延喜②,737366,"4,5","185,183",2,"737366-4,5",今治市延喜②,今治市,乗禅寺付近,...,NaN,NaN,"737366-4,5,6","185,183,184",NaN,34.071344,132.959000,2022/06/01 0:00:00,green,signal

In [41]:
# PCI確認
df5.pivot(
    index=["grp", "場所", "short_cell_id"], columns=["rnc"], values="psc"
).sort_index(level=2).fillna(0).astype(int).astype(str).replace("0", "-")

,,rnc,1,2,3,4,5,6,7,8,9,10,11,12
grp,場所,short_cell_id,,,,,,,,,,,,
4,【5G】今治市阿方①,737354,-,-,-,225,-,205,-,-,-,-,-,-
5,【5G】今治市阿方②,737354,298,89,174,-,-,-,-,-,-,-,-,-
16,【5G】今治市延喜①,737354,-,-,-,-,-,-,-,-,-,116,229,348
22,【5G】今治市北日吉町一丁目,737359,82,-,-,-,-,-,-,-,-,-,-,-
33,今治市延喜②,737366,-,-,-,185,183,-,-,-,-,-,-,-
645,今治市しまなみの杜,737366,-,-,-,-,-,-,51,133,137,-,-,-
14,今治市近見町三丁目,737378,-,-,-,-,147,169,-,-,-,-,-,-
41,今治市波方町小部,737422,-,-,-,247,38,270,-,-,-,-,-,-
40,今治市波方町樋口②,737486,-,-,-,-,-,-,263,261,262,-,-,-
50,今治市内堀一丁目,737486,-,-,-,-,-,-,-,-,-,75,175,77
6,今治市波止浜,737487,-,-,179,178,177,-,-,-,-,-,-,-
49,今治市波方町郷,737487,-,-,-,-,-,-,-,-,355,223,222,-
77,今治市波止浜三丁目,737487,-,-,-,-,-,32,374,93,-,-,-,-
34,今治市波方町樋口①,737488,-,-,-,313,324,326,-,-,-,-,-,-
45,今治市波方町西浦,737488,-,-,-,-,-,-,351,1,-,-,-,-
51,今治市波方町波方,737488,-,-,-,-,-,-,-,-,108,109,360,-
76,今治市波方町養老,737488,214,213,185,-,-,-,-,-,-,-,-,-

In [33]:
# TA確認
df5.pivot(index=["grp", "場所", "short_cell_id"], columns="rnc", values="ta").sort_index(
    level=2
).fillna(999).astype(int).astype(str).replace("999", "-")

rnc                              1  2  3  4  5  6  7  8  9  10 11 12
grp 場所             short_cell_id
4   【5G】今治市阿方①     737354         -  -  -  0  -  0  -  -  -  -  -  -
5   【5G】今治市阿方②     737354         0  0  0  -  -  -  -  -  -  -  -  -
16  【5G】今治市延喜①     737354         -  -  -  -  -  -  -  -  -  0  0  0
22  【5G】今治市北日吉町一丁目 737359         0  -  -  -  -  -  -  -  -  -  -  -
33  今治市延喜②         737366         -  -  -  0  0  -  -  -  -  -  -  -
645 今治市しまなみの杜      737366         -  -  -  -  -  -  0  0  0  -  -  -
14  今治市近見町三丁目      737378         -  -  -  -  0  0  -  -  -  -  -  -
41  今治市波方町小部       737422         -  -  -  0  0  0  -  -  -  -  -  -
40  今治市波方町樋口②      737486         -  -  -  -  -  -  0  0  1  -  -  -
50  今治市内堀一丁目       737486         -  -  -  -  -  -  -  -  -  0  0  0
6   今治市波止浜         737487         -  -  0  0  0  -  -  -  -  -  -  -
49  今治市波方町郷        737487         -  -  -  -  -  -  -  -  0  0  0  -
77  今治市波止浜三丁目      737487         -  -  -  -  -  0  1  0  -  -  -  -
34  今治市波方町樋口①      737488         -  -  -  0  0  0  -  -  -  -  -  -
45  今治市波方町西浦       737488         -  -  -  -  -  -  0  0  -  -  -  -
51  今治市波方町波方       737488         -  -  -  -  -  -  -  -  0  0  0  -
76  今治市波方町養老       737488         0  1  0  -  -  -  -  -  -  -  -  -

In [34]:
# 距離確認
df5.pivot(
    index=["grp", "場所", "short_cell_id"], columns=["rnc"], values="距離"
).sort_index(level=2).fillna(0).astype(str).replace("0", "-")

,,rnc,1,2,3,4,5,6,7,8,9,10,11,12
grp,場所,short_cell_id,,,,,,,,,,,,
4,【5G】今治市阿方①,737354,0.0,0.0,0.0,1.252,0.0,1.105,0.0,0.0,0.0,0.0,0.0,0.0
5,【5G】今治市阿方②,737354,4.892,2.874,3.56,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
16,【5G】今治市延喜①,737354,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,6.338,0.489,0.678
22,【5G】今治市北日吉町一丁目,737359,12.432,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
33,今治市延喜②,737366,0.0,0.0,0.0,1.587,1.305,0.0,0.0,0.0,0.0,0.0,0.0,0.0
645,今治市しまなみの杜,737366,0.0,0.0,0.0,0.0,0.0,0.0,3.068,1.519,1.018,0.0,0.0,0.0
14,今治市近見町三丁目,737378,0.0,0.0,0.0,0.0,1.881,1.881,0.0,0.0,0.0,0.0,0.0,0.0
41,今治市波方町小部,737422,0.0,0.0,0.0,2.729,1.313,2.301,0.0,0.0,0.0,0.0,0.0,0.0
40,今治市波方町樋口②,737486,0.0,0.0,0.0,0.0,0.0,0.0,3.159,3.159,4.896,0.0,0.0,0.0
50,今治市内堀一丁目,737486,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.708,3.708,2.786
6,今治市波止浜,737487,0.0,0.0,2.933,3.226,2.696,0.0,0.0,0.0,0.0,0.0,0.0,0.0
49,今治市波方町郷,737487,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,6.473,3.699,4.393,0.0
77,今治市波止浜三丁目,737487,0.0,0.0,0.0,0.0,0.0,6.586,2.194,5.441,0.0,0.0,0.0,0.0
34,今治市波方町樋口①,737488,0.0,0.0,0.0,2.706,1.272,1.643,0.0,0.0,0.0,0.0,0.0,0.0
45,今治市波方町西浦,737488,0.0,0.0,0.0,0.0,0.0,0.0,2.274,2.507,0.0,0.0,0.0,0.0
51,今治市波方町波方,737488,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.066,2.321,7.044,0.0
76,今治市波方町養老,737488,3.166,15.53,1.457,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0